/* ===========================
   Fonts
=========================== */

@font-face {
    font-family: "MaruBuri";
    src: url("../../fonts/MaruBuri-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ===========================
   Reset & Base
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Pretendard Variable",sans-serif;
    background:#f5f5f5;
    color:#222;
    line-height:1.6;
    word-break:keep-all;
    overflow-wrap:break-word;
}
